/* kcc 간판체 */
@font-face {
  font-family: 'KCC-Ganpan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 넥슨고딕 */
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('./fonts/NEXON\ Lv1\ Gothic\ OTF.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('./fonts/NEXON\ Lv1\ Gothic\ OTF\ Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('./fonts/NEXON\ Lv1\ Gothic\ OTF\ Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* 에스코어 드림 */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff')
    format('woff');
  font-weight: 300;
  font-style: normal;
}
